:root {
    --color-base-hue: 200;
    --color-danger-hue-offset: 180;
    --color-danger-hue: calc(var(--color-base-hue) - var(--color-danger-hue-offset));
    --color-background-dark: hsl(var(--color-base-hue), 100%, 8%);
    --color-background-light: hsl(var(--color-base-hue), 100%, 16%);
    --color-text-light: hsl(var(--color-base-hue), 100%, 87%);
    
    
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;

    --nav-link-font-weight: 300;

    --font-family: 'Monaco';

    --color-btn-primary-background: hsl(var(--color-base-hue), 100%, 83%);
    --color-btn-primary-background-dark: hsl(var(--color-base-hue), 100%, 73%);
    --color-btn-primary-text: hsl(var(--color-base-hue), 100%, 20%);
    --color-btn-border: black;

    --color-btn-danger-background: hsl(var(--color-danger-hue), 100%, 83%);
    --color-btn-danger-background-dark: hsl(var(--color-danger-hue), 100%, 73%);
    --color-btn-danger-text: hsl(var(--color-danger-hue), 100%, 20%);

    --form-label-font-size: 1.2rem;
    --form-input-border-color: hsl(var(--color-base-hue), 100%, 51%);
    --form-input-background-color: hsl(var(--color-base-hue), 100%, 31%);
    --form-input-border-color-light: hsl(var(--color-base-hue), 100%, 80%);
    
}